@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}


:root{
    --gold:  rgb(228, 138, 29);
    --cafe-oscuro: #645347;
    --cafe-claro: #DBC8AB;
    --rock-blue: #9FBECF;
    --ship-cove: #778EBC;
    --degradado-azul: linear-gradient(90deg, var(--rock-blue), var(--ship-cove));
    --degradado-cafe: linear-gradient(90deg, var(--cafe-claro), var(--cafe-oscuro));
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}


body{
  /* background-image: url("fondo-mejor.jpeg");   */
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("fondo-mejor.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Akaya Kanadaka', cursive;
  height: 100vh;
  transition: all .4s linear;
}


a{
    text-decoration: none;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

header .icon-inicio div{
    background: var(--ship-cove);
    height: 2.2rem;
    width: 2.5rem;
    line-height: 2.2rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    margin-right: .3rem;
    
}

.fa-shopping-cart a{
    color: var(--cafe-oscuro);
}

.icon-inicio div:hover{
    background: var(--cafe-claro);
    color: var(--cafe-oscuro);
}

.heading{
    background: var(--cafe-oscuro);
    color: var(--cafe-claro);
    display: inline-block;
    position: relative;
    top: -1rem;left: 35%;
    width: 30rem;
    border-radius: .5rem;
    height: 5rem;
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
}

.btnProd{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: 1.6rem;
   
    color: var(--cafe-oscuro);
    background: var(--rock-blue);
    cursor: pointer;
    
}

.btnProd:hover{
    transform: scale(1.1);
    color: var(--cafe-claro);
}

.foter{
    position: relative;
    bottom: 0;
    background: var(--cafe-oscuro);
    width: 100%;
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-around;
}

.foter .footer__menu{
    list-style: none;
}

.footer__menu-a{
    font-size: 2rem;
    color: var(--cafe-claro);
    transition: all .2s linear;
}

.footer__menu-a:hover{
    color: var(--rock-blue);
}



.titulo-page{
    display: block;
    background: var(--cafe-oscuro);
    height: 9rem;
    padding: 1rem 0;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0;
}

.titulo-page a{
    color: var(--cafe-claro);
    letter-spacing: .5rem;
}

.main-nav{
    background: var(--cafe-oscuro);

}

.icon-inicio{
    width: 6rem;
    position: absolute;
    left: 89%;
    top: 7rem;
    color: var(--cafe-oscuro);
}

.fa-bars{
    display: none;
}


.main-nav .menu{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-nav .menu .item{
    list-style: none;
    font-size: 2.5rem;
}


.main-nav .menu .item a{
    color: var(--cafe-claro);
    transition: all .2s linear;
}

.main-nav .menu .item a:hover{
    color: var(--rock-blue);
}


.main-nav .menu .submenu{
    display: none;

}

.main-nav .menu .submenu .submenu-item{
    list-style: none;
    transition: all .2s linear;
}


.main-nav .menu .submenu .submenu-item a{

    color: var(--cafe-oscuro);
}

.main-nav .menu .submenu .submenu-item:hover{
    background: var(--cafe-oscuro);
}

.main-nav .menu .submenu .submenu-item:hover a{
    color: var(--cafe-claro);
}

.main-nav .menu .btn-submenu:hover .submenu{
    display: block;
    position: absolute;
    background: var(--cafe-claro);
    border-radius: .5rem;
    width: 20rem;
    text-align: center;
    font-size: 2rem;
    padding-left: 0;
}

.index-content{
    /* position: relative;
    top: 4rem; left: 34%;right: 34%;
    */
    width: 25rem;
    height: 25rem; 
    margin:  30% auto;

}

.index-content img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* ================================== CATALOGOS ===================================== */



.tienda .logo-tienda{
    position: relative;
    top: 2rem;left: 45%;
    width: 10rem;
    
}

.tienda .logo-tienda img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.tienda .box-container{
    width: 80%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    background: var(--cafe-claro);
    padding: 2rem;
    border-radius: .5rem;
}

.tienda .box-container .box{
    padding: 3rem 2rem;
    background: var(--ship-cove);
    border-radius: .5rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.tienda .box-container .box img{
    width: 100%;
    object-fit: cover;
}

.tienda .box-container .box h3{
    text-transform: uppercase;
    color: var(--cafe-claro);
    font-size: 2.7rem;
    padding-top: 1rem;
}

.tienda .box-container .box p{
    font-size: 2.4rem;
    color: var(--cafe-oscuro);
}

.tienda .box-container .box .btnProd{
    height: 3rem;
    font-size: 1.3rem;
    padding-top: .5rem;
}


/* ======== pagination ================ */
.pagination{
    background-color: var(--cafe-claro);
    display: flex;

    position: relative;
    overflow: hidden;
    margin: auto;
    height: 3rem;
  
    width: 50%;
}

.pagination a{
    width: 50%;
    height: 100%;
    padding-top: 1rem;
    text-align: center;
    color: var(--cafe-oscuro);
    font-size: 19px;
    font-weight: 700;
    transition: .2s linear;
}

.pagination a:hover{
    background-color: var(--cafe-oscuro);
    color: var(--cafe-claro);
}


/* ============================================== CATEGORIAS ================================================== */


.categorias .box-container{
    width: 80%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    background: var(--cafe-claro);
    padding: 2rem;
    border-radius: .5rem;
}

.categorias .box-container .box{
    padding: 3rem 2rem;
    background: var(--ship-cove);
    border-radius: .5rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.categorias .box-container .box img{
    width: 100%;
    object-fit: cover;
}

.categorias .box-container .box h3{
    text-transform: uppercase;
    color: var(--cafe-claro);
    font-size: 2.7rem;
    padding-top: 1rem;
}

.categorias .box-container .box a{
    font-size: 1.4rem;
    color: var(--cafe-oscuro);
}

.categorias .box-container .box a:hover{
    color: var(--cafe-claro);
}


/* ============================================== DETALLE PRODUCTO ================================================== */

.detalle .container{
    margin: 2rem auto;
    padding: 3rem;
    width: 70%;
    height: 70%;
    display: flex;
    gap: 1.5rem;
    background: var(--cafe-claro);
}

.detalle .container img{
    width: 30%;
    border-radius: .5rem;
    flex: 1 1 15rem;
}

.detalle .container .info{
    flex: 1 1 15rem;
}

.detalle .container h4{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--cafe-oscuro);
}

.detalle .container .btnProd{
    height: 3rem;
    width: 17rem;
    font-size: 1.5rem;
    padding-top: .3rem;
}

.detalle .container p{
    margin-top: 0;
    padding-top: 0;
    font-size: 1.2rem;
    
}

.detalle .container input{
    width: 10%;
    display: block;
    border-radius: .5rem;
    padding-left: .3rem;
    padding-bottom: .4rem;
    text-align: center;
}



/* ============================================== NOVEDADES ================================================== */


.foro .box-container{
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    gap: 1.5rem;
    
}


.foro .box-container .box{
    height: 34rem;
    display: flex;
    padding: 2rem;
    gap: 1.5rem;
    background: var(--cafe-claro);
    border: .5rem solid var(--cafe-oscuro);
    object-fit: cover;
    margin: .5rem;

}

.foro .box-container .box .info{
    display: flex;
    flex-direction: column;
}



.foro .box-container .box .info p{
    position: relative;
    top: 2.5rem;
    width: 100%;
   color: #333;
}

.foro .box-container .box img{
    width: 50%;
}

.foro .box-container .box .info h3{
    font-size: 2.7rem;
    color: var(--cafe-oscuro);
}

.foro .box-container .box .info p a{
    color: var(--ship-cove);
}




/* ============================================== DETALLE NOVEDADES ================================================== */

.detalle-foro{
    
}

.detalle-foro .box{
    background: #beae95;
    border-radius: .5rem;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 80%;
    margin: auto;
}


.detalle-foro .box img{
    margin-top: 1rem;
    flex: 1 1 25rem;
    border-radius: .5rem;
    object-fit: cover;

    max-height: 45rem;
}

.detalle-foro .box .info{
    padding: 3rem;
}

.detalle-foro .box .info h3{
    font-size: 3.5rem;
    text-align: center;
    color: var(--cafe-oscuro);
}


.detalle-foro .box .info .content{
    margin-bottom: 5rem;
    color: #333;
    font-size: 1.5rem;
    width: 90%;
    text-align: center;
    margin: auto;
}

































/* media queries */


@media screen and (max-width:991px) {

    html{
        font-size: 62.5%;
    }
    
    header  .icon-inicio{
        width: 8rem;
        left: 90%;
    }

    .heading{
        left: 30%;
    }

    .tienda .logo-tienda{
        left: 43%;
    }

    .pagination a{
        padding-top: 0;
    }

    .foro .box-container .box .info p{
        height: 12rem;
    }


}


@media screen and (max-width:769px) {
    html{
        font-size: 55%;
    }

    header .main-nav .icon-inicio{
        display: none;
    }

    .fa-bars{
        display: inline-block;
    }

    header .titulo-page{
        padding-top: 2rem;
        padding-left: 2rem;
        font-size: 2.7rem;
        text-align: start;
        
    }

    header  .icon-inicio{
        width: 18rem;
        top: 2.5rem;
        position: absolute;
        left: 65%;
        text-align: center;
        
       
    }

    header  .icon-inicio a i{
        margin-left: 2.2rem;
        font-size: 3.5rem;
        color: var(--cafe-claro);
    }

    header .main-nav .menu{
        position: absolute;
        display: block;
        top: 9%; left: -110%;
        width: 100%;
        background: var(--cafe-claro);
        border-top: .1rem solid rgba(255, 255, 255, .2);
        padding: 1rem 2rem;
        z-index: 1000;
        transition: all .5s linear;
        /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    }

    header .main-nav .menu .btn-submenu:hover .submenu{
         display: none;
        
        
    }

    header .main-nav .menu.active{
        left:  0%;
       
    }

    header .main-nav .menu .btn-submenu:hover .submenu{
        position: relative;
        padding-left: 1.2rem;
        display: block;
        width: 100%;
        background: var(--cafe-oscuro);
    }

    header .main-nav .menu .btn-submenu:hover .submenu.actives{
        display: none;
    }


    
    header .icon-inicio div{
        height: 5rem;
        width: 5rem;
        font-size: 1.6rem;
        padding-top: 1.4rem;
    }
    
   
   

    header .main-nav .menu .btn-submenu .submenu-item a{
        color: var(--cafe-claro);
        text-align: start;
    }

    header .main-nav .menu .item a{
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: var(--cafe-oscuro);
    } 

    .heading{
        left: 25%;
    }



    /* ===== novedades ====== */
    .foro .box-container .box{
        flex-direction: column;
        height: 60rem;
    }

    .foro .box-container .box img{
        width: 100%;
        height: 60%;
        object-fit: cover;
    }


    .foro .box-container .box .info p{
        font-size: 1.5rem;
    }

    
    .detalle-foro .box .info .content{
        font-size: 2rem;
        width: 100%;
    }

}


@media screen and (max-width:450px) {
    html{
        font-size: 50%;
    }
    
    header .titulo-page{
       
        font-size: 2rem;
    }

    header .titulo-page a{
        position: absolute;
        width: 20%;
    }

    header .main-nav .menu{
        top: 9rem;
    }

    header .icon-inicio{
        left: 55%;
    }

    .heading{
        width: 75%;
        left: 16%;
    }

    .tienda .logo-tienda{
        left: 35%;
    }

    .index-content{
        left: 24%;
    }

    .foro .box-container .box{
       
        height: 64rem;
    }

    .foro .box-container .box img{
        height: 50%;
    }

    .foro .box-container .box .info p{
        font-size: 1.5rem;
    }
    
   
}










